<div class="row justify-content-md-center">
  <div class="col-8 ">
  <div class="card text-center shadow mb-5 bg-white rounded">
    <div class="card-body font-italic">
      <h5 class="card-title">Comments</h5>
        <% @post.comments.each do |comment| %>
            <p class="card-text text-left">
              <%= comment.response %> <small>( Created  <%= time_ago_in_words(comment.created_at)  %> ago , Updated <%= time_ago_in_words(comment.updated_at)  %>   ago)</small></p>
            <hr>
        <% end %>
    </div>
  </div>
 </div>
</div>
